* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  width: 100%;
  height: 180px;
  background-color: #000515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > span {
  color: #30c0d3;
  font-size: 56px;
  font-family: 'Roboto';
}

.main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 5, 21, 0.8);
}

.main > .input {
  width: 100%;
  height: 100px;
  padding: 0 32px;
  display: flex;
}

.main > .input > input[type="text"] {
  width: 1000px;
  height: 100%;
  background: #333744;
  border: 1px solid #30bfd3;
}

.main > .input > .submit-button {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #30bfd3;
  border-left: none;
  padding: 0 20px 0 0;
}

.main > .input > .submit-button > img {
  width: 80px;
  height: 80px;
}

.main > .input > .submit-button > span {
  margin-bottom: 10px;
  color: #30c0d3;
  font-size: 36px;
}